apiVersion: es.eck.github.com/v1alpha1
kind: IngestPipeline
metadata:
  name: ingestpipeline-sample
spec:
  targetInstance:
    name: elasticsearch-quickstart
  body: |
    {
      "description" : "Ingest pipeline sample",
      "processors" : [
        {
          "set" : {
            "description" : "Ingest pipeline sample processor",
            "field": "eck-custom-resources",
            "value": "true"
          }
        }
      ]
    }
