---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: indextemplates.es.eck.github.com
spec:
  group: es.eck.github.com
  names:
    kind: IndexTemplate
    listKind: IndexTemplateList
    plural: indextemplates
    singular: indextemplate
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: IndexTemplate is the Schema for the indextemplates API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: IndexTemplateSpec defines the desired state of IndexTemplate
            properties:
              body:
                minLength: 0
                type: string
              dependencies:
                properties:
                  indexTemplates:
                    items:
                      type: string
                    type: array
                  indices:
                    items:
                      type: string
                    type: array
                type: object
              targetInstance:
                properties:
                  name:
                    type: string
                type: object
            required:
            - body
            type: object
          status:
            description: IndexTemplateStatus defines the observed state of IndexTemplate
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
