---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: elasticsearchusers.es.eck.github.com
spec:
  group: es.eck.github.com
  names:
    kind: ElasticsearchUser
    listKind: ElasticsearchUserList
    plural: elasticsearchusers
    singular: elasticsearchuser
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ElasticsearchUser is the Schema for the elasticsearchusers API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ElasticsearchUserSpec defines the desired state of ElasticsearchUser
            properties:
              body:
                type: string
              secretName:
                type: string
              targetInstance:
                properties:
                  name:
                    type: string
                type: object
            required:
            - body
            - secretName
            type: object
          status:
            description: ElasticsearchUserStatus defines the observed state of ElasticsearchUser
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
